<ion-content color="secundary" padding>
  <form #form="ngForm">
    <ion-grid>
      
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <ion-title size="large" style="text-align: center">SkeletonAPP</ion-title>
          </div>
          <div padding>
            <ion-title size="large" style="text-align: center">Bienvenidos</ion-title>

            <ion-item>
              <ion-label position="floating">Usuario</ion-label>
              <ion-input [(ngModel)]="Usuario" name="email" type="email" maxlength="8" minlength="3" placeholder="Ingrese su Usuario" ngModel required></ion-input>
            </ion-item>


            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input  [(ngModel)]="Password" name="password" type="password" maxlength="4" minlength="4" placeholder="Ingrese su password" ngModel required></ion-input>
            </ion-item>
            
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Ingresar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <div id="container" style="display: flex; flex-direction: column; align-items: center; justify-content: flex-start; height: 100vh; text-align: center;">
    <p><a target="_self" rel="noopener noreferrer" href="register">Crea tu cuenta gratis aquí</a></p>
  </div>

</ion-content>